.App {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;

    .header {
        height: 70px;
        background-color: slateblue;

        .header-main {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            text-align: center;

            .header-logo {
                width: 10%;
            }

            .header-title {
                flex-grow: 1;
            }

            .header-signin {
                width: 5%;
            }
        }
    }

    .underheader {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;

        .menu {
            width: 300px;
            background-color: skyblue;

            li {
                list-style-type: none; /* Убираем маркеры */

                a {
                    color: purple;

                    &:active {
                        color: red;
                    }
                }
                
            }
        }

        .main {
            flex-grow: 1;
            background-color: white;
        }
    }
}